*
#just keeping three files
!Default (Windows).sublime-keymap
!Package Control.sublime-settings
!Preferences.sublime-settings
!Autoprefixer.sublime-settings
!ch-*.sublime-snippet

!How to use git.txt
!README.md